// Add your own CSS here!
:root {
  --light: #141414 !important;
  --dark: #fbfffe !important;
  --secondary: #5b778a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}