// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}
// Add your own CSS here!

:root {
  //   --light: #faf8f8;
  //   --dark: #141021;
  //   --secondary: #284b63;
  //   --tertiary: #84a59d;
  //   --visited: #afbfc9;
  //   --primary: #f28482;
  //   --gray: #4e4e4e;
  //   --lightgray: #f0f0f0;
  //   --outlinegray: #dadada;
  //   --million-progress-bar-color: var(--secondary);
  // }

  // [saved-theme="dark"] {
  --light: #0D0B0F !important;
  --dark: #fbfffe !important;
  --secondary: #3993cf !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;

  h1 {
    color: #fa4d1e;
    font-weight: 900;
    font-size: xx-large;
  }

  h2 {
    color: #F89C1C;
    font-weight: 700;
    font-size: 1.5 rem;
  }

  h3 {
    color: #ede482;
    font-weight: 600;
  }

  h4 {
    color: #aade62;
  }

  h5 {
    color: #62deac;
  }

  h6 {
    color: #62b7de;
  }

  article {
    &>h1 {
      font-size: 2.25em;
      color: white;
      font-weight: 900;
    }
  }

  header a {
    color: rgb(255, 251, 28);
    font-size: xx-large;
  }

  ul>li,
  ol>li {
    position: relative;
  }

  ol,
  ul {
    position: relative;
    padding-inline-start: 30px;
  }

  /* Actual definition of ::before-pseudo-elements with left border */

  li>ul::before,
  li>ol::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0em;
    margin-left: -47px;
    border-left: 2px solid var(--secondary);
    opacity: 1;
  }

  ::marker {
    color: var(--secondary);
  }

  /*Bold Italics*/
  strong {
    color: #90d332;
    font-weight: 700;
  }

  em {
    color: #4ba6ce !important;
    // font-weight: 500;
  }


  /*Images*/
  img {
    padding: 0;
    border: 1px solid rgba(100, 100, 100, 0.25);
    border-radius: 8px;
    margin: 0;
    transition: 140ms cubic-bezier(0.45, 0.05, 0.55, 0.95) !important;
    max-height: 80%;
    width: 550 px;
  }

  img:hover {
    border-radius: 0px;
    box-shadow: 0px 4px 16px -2px rgba(75, 70, 64, 0.2);
    transform: translateY(-2px);
  }

  img:active {
    max-height: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    transition: 140ms cubic-bezier(0.45, 0.05, 0.55, 0.95) !important;
  }


}





